<div>
  <h1 align="center">Welcome to the Medical Concierge!</h1>
  <div style='width: 600px;margin:auto'>
    <img  style='width: 600px' src="http://www.hayattpharmacy.com/wp-content/uploads/2016/01/shutterstock_132214139.jpg">
  </div>
  
  <h2 align="center"> Here you can answer questions for Medical questioner for most doctor office visits, keep track of all your doctor visits and prescriptions.</h2>
</div> 